@model  Borderlands2GoldenKeys.Models.RowsViewModel

@{
    int i = Model.StartIndex;
    foreach (var shiftCode in Model.ShiftCodes)
    {
        <tr>
            <td>@Html.DisplayFor(m => shiftCode.Platform)</td>
            <td>
                <span id="code@(i)">@Html.DisplayFor(m => shiftCode.Code)</span>
            </td>
            @if (!Request.Browser.IsMobileDevice)
            {
                <td class="copyCellContainer hidden-print hidden">
                    <span class="z-clip-wrap copyContainer" data-toggle="tooltip" data-placement="bottom" data-title="Copy to clipboard"><a href="#" id="btn@(i)" data-copy="#code@(i)" data-img="#img@(i)" class="btn btn-primary btn-sm codeCopy" title="Copy to clipboard"><img id="img@(i)" class="imgCopy" src="~/Content/images/clipboard.png" alt="Copy to clipboard" title="Copy to clipboard" /></a></span>
                </td>
            }
            <td>@Html.DisplayFor(m => shiftCode.ExpirationDate)</td>
            <td class="hidden-print"><a class="btn btn-sm" href="@string.Format("https://twitter.com/{0}/status/{1}", shiftCode.SourceAccount, shiftCode.SourceStatusId)">Learn more &raquo;</a></td>
        </tr>
            i++;
    }
}