@model List<Borderlands2GoldendKeys.Models.ShiftCode>

@foreach (var shiftCode in Model)
{
    <tr>
        <td>@Html.DisplayFor(m => shiftCode.Platform)</td>
        <td>@Html.DisplayFor(m => shiftCode.Code)</td>
        <td>@Html.DisplayFor(m => shiftCode.ExpirationDate)</td>
        <td><a class="btn btn-sm" href="@string.Format("http://twitter.com/GearboxSoftware/status/{0}", shiftCode.SourceStatusId)">Learn more &raquo;</a></td>
    </tr>
}
