@model  Borderlands2GoldendKeys.Models.HomeViewModel

    <div class="jumbotron">
        <h1>Borderlands 2 Golden Keys <small>unofficial</small></h1>
        <p class="lead">This site has one and only pupose: list <a href="http://gearboxsoftware.com/" title="Official Gearbox site">gearbox</a>'s <a href="http://www.borderlands2.com" title="Official Borderlands 2 site">borderlands 2</a>'s golden keys.</p>
    </div>

    <div class="row">
        <div class="col-md-12 text-center">
            <blockquote>
                @Model.ClapTrapQuote.Quote
                <footer>
                    ClapTrap
                </footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <h2>Platform</h2>
            <p>PC / MAC</p>
        </div>
        <div class="col-md-4">
            <h2>Golden Key</h2>
            <p>C3KJ3-WCZW3-H5TFK-BTB3T-9RKTZ</p>
        </div>
        <div class="col-md-4">
            <h2>Valid until</h2>
            <p>No date available.</p>
        </div>
        <div class="col-md-2">
            <h2>Source</h2>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
    </div>

<hr />
<footer>
    Borderlands 2 is property of <a href="http://gearboxsoftware.com/" title="Official Gearbox site">Gearbox Software</a>.
</footer>
